@import "libs/breakpoints";

@include breakpoints((xlarge: (1281px,
            1680px),
        large: (981px,
            1280px),
        medium: (737px,
            980px),
        small: (361px,
            736px),
        xsmall: (null,
            360px)));